a:link { text-decoration: none; color: purple;}
a:visited { text-decoration: none; color: purple; }
a:hover {text-decoration: none; color: lavenderblush;}
a:active {text-decoration: none; color:darkgoldenrod;}

.content{align-content: center;text-align: center;}
#text{font-family: arial, sans-serif;
font-size: 50px;}

.button {
    background-color: lavenderblush;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border: 2px solid black;
    font-size: 50px;
  }

  .button:hover {
    background-color: purple;
    color: lavenderblush;
  }

  #round {
    border-radius: 15px;
  }