/*iframe{position: absolute;
    padding: 10px;
    cursor: move;} 

  #square {
    position: absolute;
    z-index: 9;
    background-color: #f1f1f1;
    border: 1px solid #d3d3d3;
    text-align: center;
    cursor: move;
  }*/

  body {
    cursor: url(./cursor/boot.png);
  }
  
  p{font-family: 'Diplomata SC', cursive;
font-size: 100px;
z-index: 10;
position: absolute;
bottom: 0px;
margin: auto;
text-align: center;}

  .draggable{
      width: 100px;
      height: 100px;
      align-content: center;
      border: none;
  }

  #track1{
    background-color: green;
    z-index: 0;
  }

  #track2{
    background-color: lightpink;
    z-index: 1;
  }

  #track3{
    background-color: rosybrown;
  }

  #track4{
    background-color: royalblue;
  }

  #track5{
    background-color: darkgoldenrod;
  }

  #track6{
    background-color: darkorange;
  }

  #track7{
    background-color: darkseagreen;
  }

  #track8{
    background-color: darkslateblue;
  }

  .draggable:hover {
    /* Start the shake animation and make the animation last for 0.5 seconds */
    animation: shake 0.2s;
  
    /* When the animation is finished, start again */
    animation-iteration-count: infinite;
  }

  @keyframes shake {
    0% { transform: translate(1px, 1px) rotate(0deg); }
    20% { transform: translate(-1px, 1px) rotate(-3deg); }
    50% { transform: translate(-1px, 1px) rotate(0deg); }
    70% { transform: translate(3px, 1px) rotate(4deg); }
    100% { transform: translate(1px, -1px) rotate(0deg); }
  }
  
.margin{
      margin-top: 10px;
      margin-left: 10px;
  }

  #flex{
        display: flex;
        justify-content: space-around; 
    }

  
  #bg {
background-color: yellowgreen;

    /*
    background-image: linear-gradient(to bottom, rgb(169, 236, 33), rgb(40, 59, 0));
    background-repeat: no-repeat;
    background-attachment: fixed; 
    */
  }

