.circles{
    margin: 0 auto 15px auto;
}

.circles ul{
    padding: 0;
    margin: 0;
    list-style-type: none;
    display: flex;
}

.circle1 {
    height: 40px;
    width: 40px;
    background-color: yellowgreen;
    border: 3px solid olivedrab;
    border-radius: 50%;
    display: flex;
    margin: 20px 0 10px 0px ;
  }

  .circle1:hover{
    background-color: olivedrab;
  }

  .circle2 {
    height: 40px;
    width: 40px;
    background-color: olivedrab;
    border: 3px solid yellowgreen;
    border-radius: 50%;
    display: flex;
    margin: 20px 0 10px 10px;
  }

  .circle2:hover{
}
body {
    width: 60%;
    margin: auto;
    background-color: antiquewhite;
}

h1, h2{font-family: Arial, Helvetica, sans-serif;}

p{
    line-height: 2rem;
    font-size: 20px;
    font-family: Helvetica, Arial, sans-serif;
    padding: 40px;
    transition: all 0.3s ease;
    color: olivedrab;
}
.breaker {
    display: inline-block;
    width: 20px;
    height: 20px;
    border:3px solid olivedrab;
    border-radius: 100px;
    transition: all 2.0s ease;
}
.breaker:hover {
    width: 200px;
    height: 50px;
    
}
.grow { 
    display: inline-block;
transition: all .5s ease; 
color: olivedrab;
}

.grow:hover { 
/*transform: scale(5.0);*/
font-size: 1.5rem;
}
.container {
transition: all 0.3 ease;
height: 100vh;
border: 3px solid yellowgreen;
border-radius: 100px;
background-color: olivedrab;
}

.grow-1:hover + p {
line-height: .5;
}
.alt{
    color: black;
}