@font-face {
    font-family: marags;
    src: url(../fonts/marags-webfont.woff2) format("woff2"),
    url(../fonts/marags-webfont.woff) format("woff");
}

.header{
    background-color: blanchedalmond;
    width: 100%;
}

.header__text{
    margin: auto;
    max-width: 70%;
    padding-bottom: 20px;
    
    position: -webkit-sticky; /* Safari */
    position: sticky;
    top: 40px;
}

.header__nav{
    margin: 40px;
}

.header__nav ul{
    padding: 0;
    margin: 0;
    list-style-type: none;
    display: flex;
    position: -webkit-sticky; /* Safari */
    position: sticky;
    top: 40px;
}

.header__nav_circle1 {
    height: 40px;
    width: 40px;
    background-color: yellowgreen;
    border: 3px solid olivedrab;
    border-radius: 50%;
    display: flex;
    margin: 0 0 10px 0px ;
  }

.header__nav_circle1:hover{
    background-color: olivedrab
  }

  .header__nav_circle2 {
    height: 40px;
    width: 40px;
    background-color: olivedrab;
    border: 3px solid yellowgreen;
    border-radius: 50%;
    display: flex;
    margin: 0 0 10px 10px;
  }

.header__nav_circle2:hover{
    
}

h1, h2{font-family: marags, Arial, Helvetica, sans-serif;}

h2{color: olivedrab;}

body {
    margin: auto;
    background-color: blanchedalmond;
}
.body__container {
    background-color: yellowgreen;
    }

.body__container_text {
    max-width: 70%;
    margin: auto;
    padding: 20px 0 0 0;
    }

p{
    line-height: 2rem;
    font-size: 20px;
    font-family: Helvetica, Arial, sans-serif;
    color: olivedrab;
    transition: all 0.3s ease;
}
.breaker {
    display: inline-block;
    width: 20px;
    height: 20px;
    border:3px solid olivedrab;
    border-radius: 100px;
    transition: all 2.0s ease;
}
.breaker:hover {
    width: 200px;
    height: 50px;
    
}

@media(max-width:900px) {
    .header{
        margin: 15px;
    }
}

/*
.grow-1:hover + p {
line-height: .5;
}
.grow { 
    display: inline-block;
transition: all .5s ease; 
color: olivedrab;
}

.grow:hover { 
transform: scale(5.0);
font-size: 1.5rem;
}

 