body {
    background: url(https://cdn3.lifepersona.com/84EYA4/10-rare-insects-that-look-like-extraterrestrials-2.jpg) center center no-repeat;
    background-position: top center;
    background-repeat: no-repeat;
    height: 100vh;
    margin: 0;
    background-size: cover;
}

.content {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.call-to-action h1 {font-family: 'Syne Tactile', cursive;
color: white;
text-transform: lowercase;
font-size: 50px;}

.call-to-action a {
    background: white;
    padding: 1rem 2rem;
    text-decoration: none;
    font-family: 'Syne Tactile', cursive;
    font-size: 50px;
}

@media (max-width:813px) { 
    .call-to-action h1 {
    font-size: 80px;
}}