a:link { text-decoration: none; color: olivedrab;}
a:visited { text-decoration: none; color: olivedrab; }
a:hover {text-decoration: none; color: darkseagreen;}
a:active {text-decoration: none; color:darkolivegreen;}

.jungle {width:100%; opacity: 20%;
  z-index: 1;}

.content{align-content: center;text-align: center;}
#text{font-family: 'Syne Tactile', cursive;
font-size: 50px; font-style: bold; color: darkolivegreen;z-index: 2;}

/* commenb */
.button {
    background-color: darkseagreen;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border: 2px solid black;
    font-size: 100px;
    font-family: 'Syne Tactile', cursive;
  }

  .button:hover {
    background-color: olivedrab;
    color: darkseagreen;
  }

  #round {
    border-radius: 15px;
  }
