body {
    margin: auto;
    background-color: hsl(78, 100%, 92%);
}

.nav__circles{
    background-color: hsl(78, 100%, 92%);
    position: sticky;
    position: -webkit-sticky;
    top: 0;
    align-items: center;
}

.nav__circles ul{
    padding-top: 40px;
    padding-bottom: 20px;
    padding-left: 40px;
    margin: 0px;
    list-style-type: none;
    display: flex;
}

.nav__circles_circle1 {
    height: 40px;
    width: 40px;
    background-color: hsl(69, 78%, 49%);
    border: 3px solid hsl(75, 50%, 40%);
    border-radius: 50%;
    display: flex;
    margin: 0px ;
  }

  .nav__circles_circle1:hover{
    background-color: hsl(75, 50%, 40%);
  }

  .nav__circles_circle2 {
    height: 40px;
    width: 40px;
    background-color: hsl(75, 50%, 40%);
    border: 3px solid hsl(69, 78%, 49%);
    border-radius: 50%;
    display: flex;
    margin-left: 10px;
  }

  .nav__circles_circle2:hover{
}
.header{
    margin: 40px;
    width: 70%;
}

.container {
    background-color: hsl(69, 78%, 49%);
    }

    h1, h2{font-family: Arial, Helvetica, sans-serif;
        font-weight: 100;}

    h1{font-size: 50px;
        margin: 10px 0 10px 0;}
    
    h2{color: hsl(75, 50%, 40%);
    font-size: 30px;}
    

p{
    line-height: 2rem;
    font-size: 20px;
    font-family: Helvetica, Arial, sans-serif;
    padding: 40px;
    transition: all 0.3s ease;
    color: hsl(69, 78%, 42%);
    width: 70%;
}
.breaker1 {
    display: inline-block;
    width: 20px;
    height: 20px;
    border:3px solid hsl(75, 50%, 40%);
    border-radius: 100px;
    transition: all 2.0s ease;
}
.breaker1:hover {
    width: 200px;
    height: 50px;
    
}
.breaker2 {
    display: inline-block;
    width: 20px;
    height: 20px;
    border:3px solid hsl(75, 50%, 40%);
    border-radius: 100px;
    transition: all 2.0s ease;
}
.breaker2:hover {
    width: 200px;
    height: 20px;
    
}

@media(max-width:800px) {
    .nav__circles{
        margin: 20px;
    }

    .header{
        margin: 0px;
        padding-left: 25px;
        padding-right: 25px;
        width: 100%;
        box-sizing: border-box;
    }

    h1{font-size: 30px;}
    
    h2{ font-size: 24px;}

    p{
        padding: 20px;
        width: 100%;
        box-sizing: border-box;
    }
}
/*
.grow { 
    display: inline-block;
transition: all .5s ease; 
color: olivedrab;
}

.grow:hover { 
    transform: scale(5.0);
    font-size: 1.5rem;
    }
.grow-1:hover + p {
line-height: .5;
}
.alt{
    color: black;
}